.country-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

// .country-card {
//   border: 1px solid #ccc;
//   padding: 1rem;
//   border-radius: 8px;
//   background-color: white;
//   box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
// }

.loading {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}
